[Desktop Entry]
Name=QComicBook
Name[pl]=Przeglądarka plików CBR/CBZ (QComicBook)
Comment=Comic Book archives viewer
Comment[pl]=Przeglądarka do archiwów z komiksami
Exec=qcomicbook
Icon=qcomicbook.png
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Application;Graphics;X-Red-Hat-Base;X-Red-Hat-Base-Only
